.bg-color-main-1 {
  background-color: #4460e3;
}

.bg-color-main-2 {
  background-color: #778efe;
}

.bg-color-main-3 {
  background-color: #dde3fa;
}

.bg-color-black-1 {
  background-color: #1a1a1a;
}

.bg-color-black-2 {
  background-color: #818181;
}

.bg-color-black-3 {
  background-color: #a3a3a3;
}

.bg-color-black-4 {
  background-color: #d6d6d6;
}

.bg-color-others-1 {
  background-color: #ed3a3a;
}

.bg-color-others-2 {
  background-color: #ff6060;
}

.bg-color-others-3 {
  background-color: #2cc650;
}

.border-color-main-1 {
  border-color: #4460e3;
}

.border-color-main-2 {
  border-color: #778efe;
}

.border-color-main-3 {
  border-color: #dde3fa;
}

.border-color-black-1 {
  border-color: #1a1a1a;
}

.border-color-black-2 {
  border-color: #818181;
}

.border-color-black-3 {
  border-color: #a3a3a3;
}

.border-color-black-4 {
  border-color: #d6d6d6;
}

.border-color-others-1 {
  border-color: #ed3a3a;
}

.border-color-others-2 {
  border-color: #ff6060;
}

.border-color-others-3 {
  border-color: #3cb371;
}

.text-color-main-1 {
  color: #4460e3;
}

.text-color-main-2 {
  color: #778efe;
}

.text-color-main-3 {
  color: #dde3fa;
}

.text-color-black-1 {
  color: #1a1a1a;
}

.text-color-black-2 {
  color: #818181;
}

.text-color-black-3 {
  color: #a3a3a3;
}

.text-color-black-4 {
  color: #d6d6d6;
}

.text-color-others-1 {
  color: #ed3a3a;
}

.text-color-others-2 {
  color: #ff6060;
}

.text-color-others-3 {
  color: #3cb371;
}
