@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Noto Sans KR", sans-serif;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.keep-all {
  word-break: keep-all;
}

.color-1 {
  background-color: #339ad5;
}

.color-2 {
  background-color: #1e1651;
}

.color-3 {
  background-color: #8093cb;
}

.color-4 {
  background-color: #302e2f;
}

.color-5 {
  background-color: #58585a;
}
